---
layout: 'base.njk'
---

{% include 'nav.njk' %}

<div class="headerimage">
    <img src="{{ image }}">
</div>

<div class="grid contents">
    {% for item in contents %}
        {% if item.type == "section" %}
            {% if loop.index > 1 %}
                </div>
            {% endif %}
            <div class="start1 end13 grid section">
                <div class="start1 end3 sectiontitle">{{ item.string | markdown | safe }}</div>
                {% for subitem in item.sectioncontent %}
                    {{ subitem.string | markdown | safe }}
                {% endfor %}
        {% else %}
            {% if item.type == "largetext" %}
                <div class="largeText start4 end13">{{ item.string | markdown | safe }}</div>
            {% elif item.type == "smalltext" %}
                <div class="start5 end9 smallText">{{ item.string | markdown | safe }}</div>
            {% elif item.type == "largeimage" %}
                <div class="start6 end8 largeImage">
                    {% image item.image, "Alt text", "(min-width: 600px) 50vw, 100vw" %}
                </div>
            {% endif %}
        {% endif %}
        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>


