---
layout: 'base.njk'
---

{% include 'nav.njk' %}

<div class="headerimage">
    <img src="{{ image }}">
</div>

<div class="grid contents">
    {% for item in contents %}
        {% if item.type == "section" %}
            {% if loop.index > 1 %}
                </div>
            {% endif %}
            <div class="start1 end13 grid section">
                <div class="start1 end3 sectiontitle">{{ item.section_title.string | markdown | safe }}</div>
                {% for section_content in item.section_content %}
                    {% if section_content.type == "largetext" %}
                        <div class="largeText start4 end13">{{ section_content.largetext.string | markdown | safe }}</div>
                    {% elif section_content.type == "smalltext" %}
                        <div class="start5 end9 smallText">{{ section_content.smalltext.string | markdown | safe }}</div>
                    {% elif section_content.type == "largeimage" %}
                        <div class="start6 end8 largeImage">
                            {% image section_content.largeimage.image, "Alt text", "(min-width: 600px) 50vw, 100vw" %}
                        </div>
                    {% endif %}
                {% endfor %}
        {% endif %}
        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>


