<div class="grid nav">
    <div class="navItem start1 end7"><p><a href="/">Future<br><em>World Class</em><br>Coaching</a></p></div>
    <div class="navItem start7 end13"><p>{{ title }}</p></div>
</div>